<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body ng-app>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script>
        var angular = require("angular");
    </script>
    </body>
</html>
